.image-preview, #callback-preview{
    width: 100%;
}
.print-padding{
    padding: 50px;
    background-color: #fff;
}
.hr-line{
    border-top: 3px solid #6c757d;
    border-radius: 30px;
    margin: 50px 0;
}
.text-barcode{
    margin-top: 2px;
    font-size: 10.5px;
}
.metode_pembayaran_img{
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #f5f5f5;
}
.tr-detail-produk{
    border: 1px solid #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
.img-invoice img{
    width: 40px;
}
.nav-img{
    width: 35px !important;
    height: 35px;
}

/* BASE */

.w-full{
    width: 100%;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
